// resources/sass/app.scss

// 1. 导入你自己的变量
@use 'variables';
// 确保你的 _variables.scss 文件存在于 resources/sass/variables.scss 或 resources/sass/_variables.scss

// 2. 导入 URL 字体
@import url('https://fonts.bunny.net/css?family=Nunito');

// 3. 你自己的全局自定义样式
body {
    font-size: 14px;
    font-weight: normal;
    // 注意：Tailwind 的 base 样式会设置 font-family 为 Figtree (根据你的 tailwind.config.js)
    // 如果你希望 Nunito 作为全局字体，你需要在这里或 Tailwind 配置中明确设置
}

nav.navbar.navbar-expand-lg {
    margin-bottom: 20px;
}

/* footer */
footer.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;

    img.brand-icon {
        width: 17px;
        height: 17px;
        margin-right: 5px;
    }

    a {
        color: #555;
    }

    a:hover {
        color: #222;
    }

    div.float-end {
        margin-left: auto;
    }
}

/* User gravatar */
section.user_info {
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;

    .gravatar {
        float: none;
        max-width: 70px;
    }

    h1 {
        font-size: 1.4em;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 15px;
    }
}

.gravatar {
    float: left;
    max-width: 50px;
    border-radius: 50%;
}

/* Users edit */
.gravatar_edit {
    margin: 15px auto;
    text-align: center;

    .gravatar {
        float: none;
        max-width: 100px;
    }
}

/* Status */
.status-delete-btn {
    width: max-content;
}
